* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  background-color: rgb(50, 190, 190);
}

.memory-game {
  display: flex;
  height: 640px;
  width: 640px;
  flex-wrap: wrap;
  perspective: 1000px;
  margin: auto;
}

.card {
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.9s;
  height: calc(33.333% - 10px);
  width: calc(25% - 10px);
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.3);
  margin: 5px;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.3s;
}

.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  backface-visibility: hidden;
  border-radius: 5px;
  padding: 20px;
}

.card-front {
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}
